<!DOCTYPE html>
<html>

   <head>
      <title>Image Search Abstraction | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1>
              <i class="fa fa-search" aria-hidden="true"></i> Image Search Abstraction Using Bing Web Search API
            </h1>
            <small>Fourth Challenge of Free Code Camp API Projects</small>
          </div>
          <div class="panel-body">
            <div class="input">
              <p>
                Click this link to see your IP address, language and operating system of your browser.
              </p>
             <p>
                <a href="https://battle-scarf.glitch.me/api/imagesearch/babies?offset=0" target="_blank">https://battle-scarf.glitch.me/api/imagesearch/babies?offset=0</a>
              </p>
              <p>
                You can put the term you want to search after the "imagesearch/" and before the "?offset=0". If you want to go the next set of results, just add 1 to the value of the "offset=0".
              </p>
              
              <p>
                Click this link if you want to see the recent terms searched using this app.
              </p>
             <p>
                <a href="https://battle-scarf.glitch.me/api/latest/imagesearch" target="_blank">https://battle-scarf.glitch.me/api/latest/imagesearch</a>
              </p>
            </div>
            
           
            

          </div>
        </div>
        
        <footer>
          <p class="text-center">by <a href="http://eiringonzales.com/" target="_blank">eirin gonzales</a></p>
        </footer>
      
      </div>
   </body>

</html>
